.equation {
    position: relative;
    line-height: 1;
}

.equation div {
    position: absolute;
    top: 0em;
    left: 0em;
}

.fontSizeNormal {
    font-size: 45px;
}

.fontSizeSmaller {
    /*font-size: 45px;*/
    font-size: 37px; /* fontSizeNormal * 0.707 */
}

.fontSizeSmallest {
    /*font-size: 40px;*/
    font-size: 37px; /* fontSizeNormal * 0.5 */
}

.MathJax_MathItalic {
    font-family: 'MathJax_Math';
    font-style: italic;
}

.MathJax_Main {
    font-family: 'MathJax_Main';
}

.MathJax_Size3 {
    font-family: 'MathJax_Size3';
}

.MathJax_Size4 {
    font-family: 'MathJax_Size4';
}

.fontTest {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 1;
    visibility: hidden;
}